html, body, footer, nav, div, section, main, ul, li, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}

ul {
  list-style: none;
}
/* CSS Reset */

nav {
  height: 55px;
  background-color: white;
  font-family: 'Concert One', cursive;
  color: #87CEFA;
  font-size: 20px;
}

nav ul {
  display: flex;
  padding: 5px 35px;
}

nav li {
  padding: 10px 100px 10px 0;
}

h1 {
  font-size: 40px;
}

li:hover .city-nav {
  display: block;
}

.quickview-item h2:hover, .nav-links > li:hover{
  color: #00688b;
}

.city-dropdown {
  display: flex;
  flex-direction: column;
}

.city-dropdown > a {
  position: relative;
}

.city-nav {
  display: none;
  position: absolute;
  background: #87CEFA;
  border: 1px solid white;
  width: 120px;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.city-nav:hover {
  background-color: #00688b;
  color: white;
}

.top-panel, .city-show-div {
  background-image: url("../assets/sky.jpg");
  height: 300px;
  color: white;
  padding: 35px;
  font-family: 'Fjalla One', sans-serif;
}

.top-panel h1 {
  text-align: center;
  padding-top: 120px;
}

.quickview-section ul {
  display: flex;
  justify-content: space-between;
  padding: 35px;
}

.quickview-item {
  text-align: center;
  font-family: 'Concert One', cursive;
}

.quickview-item h2 {
  color: #87CEFA;
  padding-bottom: 20px;
}

.quickview-item h4 {
  font-size: 20px;
  padding-bottom: 20px;
  color: #00688b;
}

.city-show-div {
  text-align: center;
  font-family: 'Concert One', cursive;
  border-bottom: 4px solid white;
}

.city-show-div h3 {
  padding-top: 5px;
  font-size: 24px;
}

.city-show-div img {
  padding-top: 10px;
  width: 80px;
}

.skyline {
  width: 100%;
  height: 200px;
  padding: 0;
}

footer {
  height: 150px;
  background-color: #00688b;
  color: white;
  padding: 50px 0 0 35px;
}

footer a:hover {
  color: #87CEFA;
}

.fab, .fas {
  font-size: 20px;
  padding: 20px 20px 0 2px;
}

/* Media Queries */
@media (max-width: 620px) {
  .quickview-section ul {
    flex-direction: column;
    text-align: left;
  }

  .top-panel {
    height: 200px;
  }

  .top-panel h1 {
    padding-top: 80px;
    font-size: 28px;
  }
}
