html, body, footer, nav, div, section, main, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}
/* CSS Reset */

nav {
  height: 50px;
  background-color: #8585d2;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 5px 35px;
}

li:hover .city-nav {
  display: block;
}

.city-dropdown {
  display: flex;
  flex-direction: column;
}

.city-dropdown > li {
  position: relative;
}

.city-nav {
  display: none;
  position: absolute;
  background: #3f3fbf;
  border: 1px solid white;
  width: 120px;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.city-nav:hover {
  background-color: blue;
}

.top-panel {
  background-color: grey;
  height: 300px;
}

.quickview-section ul {
  display: flex;
  justify-content: space-between;
  padding: 35px;
}

.quickview-div {
  text-align: center;
}

footer {
  height: 150px;
  background-color: #8585d2;
}


@media (max-width: 599px) {
  .quickview-section ul {
    flex-direction: column;
    text-align: left;
  }
}
